<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Admin Hotel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Отчеты
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "report-period" %}">Отчёт за период</a></li>
                        <li><a class="dropdown-item" href="{% url "report-group" %}">Отчёт по группе</a></li>
                        <li><a class="dropdown-item" href="{% url "report-inline" %}">Отчёт по строкам за
                            весь период</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Заселения
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "early-booking-group" %}">Предварительное заселения
                            группы</a></li>
                        <li><a class="dropdown-item" href="{% url "booking-group" %}">Заселение группы</a></li>
                        <li><a class="dropdown-item" href="{% url "booking-guest" %}">Заселение гостя</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Учет
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "warehouse-accounting" %}">Склад</a></li>
                        <li><a class="dropdown-item" href="{% url "kitchen-accounting" %}">Кухня</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Календари
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "calendar-hall" %}">Зал</a></li>
                        <li><a class="dropdown-item" href="{% url "calendar-sauna" %}">Баня</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Касса
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "cashier-outcome" %}">Расходы</a></li>
                        <li><a class="dropdown-item" href="{% url "cashier-income" %}">Доходы</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Гости
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "guests" %}">Гости</a></li>
                        <li><a class="dropdown-item" href="{% url "groups" %}">Группы</a></li>
                    </ul>
                </li>


            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>