{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="m-3">Заселение группы</h3>
                <form method="post" class="form mb-3">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="Заселить" %}
                </form>

            </div>
        </div>
    </div>
{% endblock %}
