{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mt-3">
                <div class="card">
                    <div class="card-header">
                        Заполненность {{ hotel.name }}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                 style="width: {{ hotel.fullness_hotel }}%;" aria-valuenow="{{ hotel.fullness_hotel }}"
                                 aria-valuemin="0" aria-valuemax="100">
                                {{ hotel.fullness_hotel }}%
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6"><h5 class="card-title">{{ hotel.name }}</h5>
                                    <p class="card-text">Количество номеров: {{ hotel.rooms_in_hotel }}</p>
                                    <p class="card-text">Количество
                                        мест: {{ hotel.capacity_in_hotel }}({{ hotel.extra_places_in_hotel }})</p>
                                    <p class="card-text">Количество человек в
                                        отеле: {{ hotel.number_guest_in_hotel }}</p>
                                </div>
                                <div class="col-sm-6"><p class="card-text">Группы в отеле <br>
                                    {% if groups %}
                                        {% for group in groups %}
                                            <span><a
                                                    href="{% url "group" pk=group.pk %}">{{ group.name }}</a> {{ group.count_guests }} чел. в группе</span>
                                            <br>
                                        {% endfor %}
                                    {% else %}
                                        групп нет
                                    {% endif %}
                                </p>
                                    <p>{% for employee in employees %}{{ employee.position }}:
                                        {{ employee.first_name }} {{ employee.last_name }}
                                    {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="mt-3">
                <div class="row">
                    <div class="col-2">
                        <label for="start-date" class="form-label">Дата начала</label>
                        <input type="date" id="start-date" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="finish-date" class="form-label">Дата окончания</label>
                        <input type="date" id="finish-date" class="form-control">
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <button type="submit" class="btn btn-primary ">Проверить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}