{% load static %}
{% include "base.html" %}
{% block context %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mt-3">Отчет</h2>
            </div>
            <div class="col">
                <h4 class="mt-3">Наличные в кассе: {{ cash_on_hand }} &#8381;</h4>
            </div>
        </div>
        <div class="row">
            <form method="get" action="{% url "report" %}">
                <div class="col mt-3">
                    <h3>Период</h3>
                    <div class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                            <label for="finish-date-report" class="form-label">Начало</label>
                            <input value="{{ finish_date|date:"Y-m-d" }}" type="date" class="form-control"
                                   id="finish-date-report" name="finish_date_report">
                        </div>
                        <div class="col-12">
                            <label for="start-date-report" class="form-label">Конец</label>
                            <input value="{{ start_date|date:"Y-m-d" }}" type="date" class="form-control"
                                   id="start-date-report" name="start_date_report">
                        </div>

                        <span>или</span>

                        <div class="col-12">
                            <label class="form-label" for="inlineFormSelectPref">Выберите период</label>
                            <select class="form-select" id="inlineFormSelectPref">
                                <option selected>------------</option>
                                <option value="yesterday">Вчера</option>
                                <option value="last-week">Прошлая неделя</option>
                                <option value="last-month">Последний месяц</option>
                                <option value="last-quarter">Последний квартал</option>
                                <option value="last-year">Последний год</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label class="form-label" for="inlineFormSelectPref">Категории</label>
                            <select class="form-select" id="inlineFormSelectPref">
                                <option selected>------------</option>
                                <option value="yesterday">Категории?</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label class="form-label" for="inlineFormSelectPref">Группа</label>
                            <select class="form-select" id="inlineFormSelectPref">
                                <option selected>------------</option>
                                <option value="yesterday">Группа 1</option>
                                <option value="yesterday">Группа 2</option>
                            </select>
                        </div>
                        {#                        todo выбор объекта#}
                    </div>
                    <button class="btn btn-secondary mt-3" type="submit">Сгенерировать отчет</button>

                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Даты</th>

                    <th scope="col">Баланс</th>
                </tr>
                </thead>
                <tbody>
                {% for balance in balances %}
                    <tr>
                        <td><a href="{% url "report-detail" balance.date_service %}">{{ balance.date_service }}</a></td>

                        <td>{{ balance.balance }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'js/report.js' %}"></script>

{% endblock %}